.logo {
  width: 5rem;
  filter: brightness(80%);
}
.title {
  cursor: pointer;
  text-shadow: 0px 0px 4px black;
  transition: all 0.3s ease-out;
  font-size: 2rem;
  text-align: center;
}
.time {
  text-shadow: 0px 0px 4px black;
  font-size: 3rem;
  width: max-content;
  text-align: center;
  transition: all 0.3s ease-out;
  letter-spacing: 7px;
}
.total:hover .title {
  transform: skew(2deg, 2deg);
  filter: brightness(80%);
}

.total:hover .time {
  transform: scale(1.05, 1.05);
  /* filter: brightness(%); */
}

.total {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: white;
  width: 100%;
  padding: 1.5rem 3rem;
  padding-right: 10rem;
}

@media screen and (max-width: 800px) {
  .total {
    padding-right: 3rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .time {
    min-width: min-content;
    font-size: 1.7rem;
    letter-spacing: 3px;
  }
}
